/* Primary colors palette. Based on material colors palette*/
$white:             #FFFFFF;
$black:             #000000;

$blue-50:           #E1F5FE;
$blue-a700:         #0091EA;

$red-400:           #EF5350;

$gray-100:          #FAFAFA;
$gray-200:          #EEEEEE;
$gray-300:          #E0E0E0;
$gray-400:          #BDBDBD;

// фон дисплея
$display-bg:        $gray-100;

// цифры при вводе
$display-color:     $black;

// превью
$preview-bg:        $gray-100;
$preview-color:     $gray-400;

// дизейбл
$disabled-color:    $gray-300;

$button-hover-bg: $blue-50;

// иконка смены режима
// цифры на кнопках
// граница между кнопками
// фон кнопок с цифрами
// фон инжинерных кнопок
// цвет кнопки очистить
// цвет кнопки равно

///* Font sizes */
$base-font:         1rem;
$sm-font:           12px;
$md-font:           13px;
$lg-font:           2.4rem;


$display-font-size: $lg-font;

$work-area-height: 380px;
